@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  transition: .3s;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* common styling starts here */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-grey1: #989898;
  --clr-grey2: #6c6f64;
  --clr-grey3: #42423d;
  --clr-grey4: #32332f;
  --clr-grey5: #262626;
  --clr-fb: #4267b2;
  --clr-pink: #c22436;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-yellow: #eacb18;
  --clr-offwhite: #f2f2f2;
  --bg-transparent1: rgba(0,0,0,0.1);
  --bg-transparent2: rgba(0,0,0,0.5);
}

input[type],
textarea,
button {
  border: none;
  display: inline-block;
  outline: none;
  background-color: transparent;
}

span {
  display: inline-block;
}

::placeholder {
  color: var(--clr-grey2);
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

::first-letter {
  text-transform: uppercase;
}

.section-heading {
  transform: scaleY(1.9);
  color: var(--clr-grey2);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

/* common styling ends here */

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* header top section starts here */

.header-top {
  background-color: var(--clr-offwhite);
}

.header-top .wrapper {
  padding: 10px 0 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-left,
.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-left form {
  border-radius: 3px;
  margin: 0 28px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--bg-transparent1);
}

.header-top-left input {
  padding: 9px 5px 8px 15px;
  box-shadow: inset 0 0 5px var(--clr-grey2);
}

.header-top-left button {
  width: 32px;
  padding: 6px 0 5px;
  position: relative;
  background-color: var(--clr-grey5);
  color: var(--clr-white);
  font-size: 18px;
  text-indent: -99999px;
}

.header-top-left button:hover::before {
  color: var(--clr-yellow);
}

.header-top-left button::before {
  content: '\f002';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  font-family: 'fontAwesome';
  text-indent: 0;
}

.header-top-right {
  gap: 31px;
}

.header-shiping-returns a {
  transform: scaley(1.5);
  color: var(--clr-grey2);
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
}

.header-shiping-returns a:hover {
  color: var(--clr-grey5);
}

.header-top-right a {
  position: relative;
  color: var(--clr-grey2);
  font-size: 11px;
  vertical-align: bottom;
}

.header-wishlist a::before {
  content: '\f005';
  margin-right: 3px;
  position: inherit;
  bottom: 2px;
  font-family: 'fontAwesome';
  font-size: 12px;
  text-indent: 0;
}

.header-login a::before {
  content: '\f234';
  margin-right: 3px;
  font-family: 'fontAwesome';
  font-size: 20px;
  text-indent: 0;
}

.header-cart {
  margin-right: 20px;
  position: relative;
}

.header-cart a {
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  text-indent: -99999px;
}

.header-cart a::before {
  content: '\f07a';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'fontAwesome';
  font-size: 30px;
  text-indent: 0;
}

.header-cart span {
  padding: 1px 7px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 60%;
  z-index: 2;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  font-size: 10px;
  font-weight: 600;
}

.header-top-right a:hover,
.header-top-right a:hover::before {
  color: var(--clr-grey5);
}

/* header top section ends here */

/* header bottom section starts here */

nav {
  background-color: var(--clr-black);
}

nav .wrapper {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

nav .main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

nav .menu-list:last-child { 
  position: absolute;
  right: 0;
}

nav .menu-list:nth-child(6) > a,
nav .menu-list:nth-child(7) > a {
  color: var(--clr-yellow);
}

nav .menu-list:nth-child(7) > a {
  text-transform: uppercase;
}

nav a {
  position: relative;
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 600;
}

nav a:hover {
  color: var(--clr-yellow);
}

nav .menu-list > a::after {
  content: '\f078';
  margin-left: 4px;
  font-family: 'fontAwesome';
  font-size: 8px;
  text-indent: 0;
  vertical-align: middle;
}

nav .sub-menu {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 145%;
  left: 0;
  z-index: 5;
  transition: .3s;
  background-color: var(--clr-yellow);
  opacity: 0;
  visibility: hidden;
}

nav .menu-list a:hover ~ .sub-menu {
  opacity: 1;
  visibility: visible;
}

nav .sub-menu-list > a {
  color: var(--clr-grey5);
}

nav .sub-menu-list a:hover {
  color: var(--clr-grey2);
}

/* header bottom section ends here */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section starts here */

.banner {
  position: relative;
}

.banner .slider-list {
  width: 100%;
  height: 62vh;
  position: relative;
}

.slider-list:not(:first-child) {
  display: none;
}

.slider-list figure,
.slider-list > figure img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.slider-list .wrapper {
  padding: 66px 0 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 12.3%;
  color: var(--clr-grey5);
  text-align: right;
  text-transform: uppercase;
}

.banner-brand-name span {
  font-size: 40px;
  font-weight: 500;
  vertical-align: middle;
}

.banner-brand-name img {
  width: 35.5%;
  margin-left: 25px;
  box-shadow: 0 0 5px var(--clr-grey2);
}

.banner-slider-content > p:first-of-type {
  margin: 6px 10px 0 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 4px;
}

.banner-slider-content > p:last-of-type {
  margin: 25px 0 60px;
  transform: scaleY(1.5);
  color: var(--clr-pink);
  font-size: 15px;
  font-weight: 600;
  word-spacing: 1px;
}

.banner-button-box {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.banner-button-box a {
  width: 25.3%;
  padding: 9px 0;
  border: 1px solid var(--clr-offwhite);
  border-radius: 2px;
  transform: scaleY(1.7);
  background: var(--bg-transparent2);
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.banner-button-box a:hover {
  background-color: var(--clr-pink);
}

.banner > .wrapper .slider-control {
  width: 26.5%;
  padding: 5px 32px;
  border-radius: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  background-color: var(--bg-transparent2);
}

.slider-control-box {
  padding: 0 8px;
  border-right: 1px dashed var(--clr-grey1);
  display: flex;
  align-items: center;
}

.slider-control-box span {
  position: relative;
  transition: .3s;
  text-indent: -99999px;
}

.slider-control-box span:hover {
  background-color: var(--clr-white);
}

.slider-control-box .slider-auto-play::before {
content: '\f04c';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--clr-white);
font-family: 'fontAwesome';
font-size: 10px;
text-indent: 0;
}

.slider-auto-play {
  margin-right: 10px;
}

.slider-control-btn {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: var(--clr-grey1);
}

.slider-control-btn:nth-child(2) {
  background-color: var(--clr-white);
}

.slider-brand-name span {
  padding: 0 10px;
  color: var(--clr-white);
  font-size: 12px;
  text-transform: uppercase;
}

/* banner section ends here */

/* general category section starts here */

.general-category {
  background-color: var(--clr-offwhite);
}

.general-category .wrapper {
  padding: 58px 0 16px;
}

.general-category-menu {
  display: flex;
  align-items: center;
}

.general-category-list > ul {
  display: flex;
  flex-wrap: wrap;
}

.general-category-list .section-heading {
  margin-bottom: 10px;
  flex: 1 0 100%;
}

.general-category-list .section-heading + li {
  margin: 0 30px 0 15px;
}

.general-category-submenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.general-category-submenu a {
  color: var(--clr-grey3);
  font-size: 14px;
}

.general-category-submenu a:hover {
  color: var(--clr-pink);
}

.general-category-submenu a::before {
  content: '\f054';
  margin-right: 3px;
  font-family: 'fontAwesome';
  font-size: 8px;
  text-indent: 0;
}

/* general category section ends here */

/* fitness & training section starts here */

.fitness-training {
  background: url(../images/fitnesstrainingbg.png) no-repeat;
  background-size: 100% 100%;
}

.fitness-training .wrapper {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.fitness-training ul {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fitness-training li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
}

.fitness-training figure {
  box-shadow: 0 0 5px var(--clr-grey2);
}

.fitness-training-link a:hover {
  color: var(--clr-pink);
}

/* fitness & training section ends here */

/* world of reebok section starts here */

.world-of-reebok .wrapper {
  padding: 54px 0 37px;
  display: flex;
  flex-direction: column;
}

.world-of-reebok ul {
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.world-of-reebok li {
  flex-basis: 23.5%;
}

.world-of-reebok a {
  padding: 20px;
  color: var(--clr-grey5);
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.world-of-reebok a:hover {
  color: var(--clr-pink);
}

.world-of-reebok a[title="REEBOK CLASSIC"] {
  text-transform: uppercase;
}

/* world of reebok section ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/* footer sub-section 1 starts here */

.footer-brand-contact {
  background-color: var(--clr-grey4);
}

.footer-brand-contact ul {
  display: flex;
  align-items: center;
  color: var(--clr-white);
  font-size: 14px;
}

.footer-brand-contact li {
  padding: 18px 20px;
}

.footer-brand-contact li:first-child {
  padding-left: 0;
}

.footer-brand-contact li:nth-child(2),
.footer-brand-contact li:nth-child(3) {
  box-shadow: inset 3px 0 6px var(--clr-grey5);
}

.footer-brand-contact a {
  color: var(--clr-white);
}

.footer-brand-contact a:hover {
  color: var(--clr-grey1);
  text-decoration: underline;
}

.footer-brand-contact a[title="customer.care@reebok.com"]::first-letter {
  text-transform: lowercase;
}

/* footer sub-section 1 ends here */

/* footer sub-section 2 starts here */

.footer-menu {
  background-color: var(--clr-grey3);
}

.footer-menu .wrapper {
  padding: 42px 0 37px;
}

.footer-menu .wrapper > ul {
  display: flex;
  align-items: flex-start;
} 

.footer-menu-list {
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-menu-list .footer-submenu {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-submenu li:first-child {
  color: var(--clr-grey1);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-submenu li:not(:first-child) a {
  color: var(--clr-white);
  font-size: 12px;
}

.footer-submenu li:not(:first-child) a:hover {
  padding-left: 4px;
  color: var(--clr-pink)
}

.footer-menu-list:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu-list a[title="Facebook Share"] {
  margin-right: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background-color: var(--clr-fb);
  font-size: 12px;
}

.footer-menu-list a[title="Facebook Share"]:hover {
  opacity: .7;
}

.footer-menu-list a[title="Facebook Share"]::before {
  content: '';
  width: 100%;
  height: 50%;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--clr-white);
}

a[title="Facebook Share"] span {
  padding: 3px 4px;
  z-index: 2;
}

a[title="Facebook Share"] span:first-child {
  color: var(--clr-grey5);
}

a[title="Facebook Share"] .fb-share {
  color: var(--clr-white);
  font-weight: 600;
}

a[title="Facebook Share"] .fb-share::before {
  content: '\f230';
  margin-right: 7px;
  font-family: 'fontAwesome';
  font-size: 14px;
  text-indent: 0;
  vertical-align: middle;
}

/* footer sub-section 2 ends here */

/* footer sub-section 3 starts here */

.footer-sign-up {
  background-color: var(--clr-grey2);
}

.footer-sign-up .wrapper {
  padding: 37px 0 27px;
}

.footer-sign-up ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-sign-up li:first-child {
  position: relative;
  transform: scaleY(2);
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-sign-up li:first-child span {
  position: relative;
  transform: translateY(-2px);
}

.footer-sign-up li:first-child span:first-child {
  margin-right: 2px;
  color: var(--clr-pink);
}

.footer-sign-up li:last-child a {
  padding: 10px 13px 10px 7px;
  border-radius: 5px;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-sign-up li:last-child a:hover {
  background-color: var(--clr-white);
  color: var(--clr-pink);
}

.footer-sign-up li:last-child a:hover::after {
  background-color: var(--clr-pink);
  color: var(--clr-white);
}

.footer-sign-up li:last-child a::after {
  content: '\f054';
  padding: 4px 5px;
  border-radius: 50%;
  margin-left: 62px;
  transition: .3s;
  background-color: var(--clr-white);
  color: var(--clr-pink);
  font-family: 'fontAwesome';
  text-indent: 0;
  font-size: 10px;
  vertical-align: middle;
}

/* footer sub-section 3 ends here */

/* footer sub-section 4 starts here */

.footer-payment-mode {
  background-color: var(--clr-grey3);
}

.footer-payment-mode .wrapper {
  padding: 43px 0 78px;
}

.footer-payment-mode ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-payment-mode li {
  flex-shrink: 0;
}

/* footer sub-section 4 ends here */

/* footer sub-section 5 starts here */

.footer-copy-right {
  background-color: var(--clr-grey3);
}

.footer-copy-right .wrapper {
  padding: 10px 0 13px 14.5%;
}

.footer-copy-right span,
.footer-copy-right a {
  color: var(--clr-grey1);
  font-size: 14px;
}

.footer-copy-right a:hover {
  color: var(--clr-grey2);
  text-decoration: underline;
}

.footer-copy-right figure {
  display: inline-block;
}

/* footer sub-section 5 ends here */

/* move-to-top-&-chat button section starts here */

.top-chat {
  position: fixed;
  right: 2%;
  bottom: 32px;
  z-index: 4;
}

.top-chat a:hover {
  opacity: 0.5;
}

.top-chat a:first-child {
  padding: 20px 10px 10px;
  border-radius: 5px;
  position: relative;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 10px;
  text-transform: uppercase;
}

.top-chat a:first-child::before {
  content: '\f0d8';
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'fontAwesome';
  text-indent: 0;
}

.top-chat a:last-child {
  padding: 20px 0 0 20px;
  margin-left: 14px;
  position: relative;
  color: var(--clr-white);
  font-size: 13px;
  text-shadow: 1px 1px 0 var(--clr-black);
  text-transform: capitalize;
}

.top-chat a:last-child::before {
  content: '\f0e6';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: var(--clr-black);
  font-family: 'fontAwesome';
  font-size: 50px;
  text-indent: 0;
}

/* move-to-top-&-chat button section ends here */

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  