@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  transition: .3s;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* common styling starts here */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-grey1: #989898;
  --clr-grey2: #6c6f64;
  --clr-grey3: #42423d;
  --clr-grey4: #32332f;
  --clr-grey5: #262626;
  --clr-pink: #c22436;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-yellow: #eacb18;
  --clr-offwhite: #f2f2f2;
  --clr-fb: #4267b2;
}

input[type],
textarea,
button {
  border: none;
  display: inline-block;
  outline: none;
  background-color: transparent;
}

span {
  display: inline-block;
}

::placeholder {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  color: var(--clr-grey2);
}

::first-letter {
  text-transform: uppercase;
}

/* common styling ends here */

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* header top section starts here */

.header-top {
  background-color: var(--clr-offwhite);
}

.header-top .wrapper {
  padding: 10px 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left,
.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-left form {
  border-radius: 3px;
  margin: 0 28px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
}

.header-top-left input {
  padding: 9px 5px 8px 15px;
  box-shadow: inset 0 0 5px var(--clr-grey2);
}

.header-top-left button {
  width: 32px;
  height: 32px;
  position: relative;
  text-indent: -99999px;
  font-size: 18px;
  background-color: var(--clr-grey5);
  color: var(--clr-white);
}

.header-top-left button::before {
  content: '\f002';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'fontAwesome';
  text-indent: 0;
}

.header-top-right {
  gap: 31px;
}

.header-shiping-returns a {
  transform: scaley(1.5);
  font-size: 11px;
  text-transform: capitalize;
  color: var(--clr-grey2);
  font-weight: 600;
}

.header-top-right a {
  padding: 0 0 6px;
  position: relative;
  font-size: 11px;
  color: var(--clr-grey2);
}

.header-wishlist a::before {
  content: '\f005';
  margin-right: 3px;
  font-family: 'fontAwesome';
  text-indent: 0;
  font-size: 12px;
  position: inherit;
  bottom: 2px;
}

.header-login a::before {
  content: '\f234';
  margin-right: 3px;
  font-family: 'fontAwesome';
  text-indent: 0;
  font-size: 20px;
}

.header-cart {
  margin-right: 20px;
  position: relative;
}

.header-cart a {
  padding: 10px 15px;
  position: relative;
  text-indent: -99999px;
  z-index: 1;
}

.header-cart a::before {
  content: '\f07a';
  font-family: 'fontAwesome';
  text-indent: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.header-cart span {
  padding: 1px 7px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 60%;
  z-index: 2;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  font-weight: 600;
  font-size: 10px;
}

/* header top section ends here */

/* header bottom section starts here */

nav {
  background-color: var(--clr-black);
}

nav .wrapper {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

nav .main-menu {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}

nav .menu-list:last-child { 
  position: absolute;
  right: 0;
}

nav .menu-list:nth-child(6) > a,
nav .menu-list:nth-child(7) > a {
  color: var(--clr-yellow);
}

nav .menu-list:nth-child(7) > a {
  text-transform: uppercase;
}

nav a {
  position: relative;
  color: var(--clr-white);
  font-size: 15px;
  font-weight: 600;
}

nav .menu-list > a::after {
  content: '\f078';
  margin-left: 4px;
  font-family: 'fontAwesome';
  text-indent: 0;
  font-size: 8px;
  vertical-align: middle;
}

nav .sub-menu {
  width: 100%;
  position: absolute;
  top: 145%;
  left: 0;
  background-color: var(--clr-yellow);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}

nav .menu-list a:hover ~ .sub-menu {
  visibility: visible;
  opacity: 1;
}

nav .sub-menu-list > a {
  color: var(--clr-grey5);
}

/* header bottom section ends here */

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  